extends layout
block content
  div.posts
    for  post in posts
      div.post-group
        if user
          p #{post.user.name}
        else
          p Anonymous
        p #{post.message}
        p #{post.date}
  
  